# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.R3-Unity-Sample.iml
# Editor-based HTTP Client requests
/httpRequests/
